services:
  pg:
    image: postgres:16.4-alpine
    container_name: pg
    env_file:
      - .env
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - /home/devops/pgdata/:/var/lib/postgresql/data
    networks:
      - analyzer_network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  analyzer-api:
    build: .
    command: bash -c "alembic upgrade head && gunicorn main:app --config ./gunicorn_config.py"
    restart: always
    networks:
      - analyzer_network

  webserver:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - analyzer_network
    sysctls:
      net.ipv4.ip_local_port_range: "10240 65535"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    logging:
      options:
        max-size: "10m"
        max-file: "3"

networks:
  analyzer_network:
    name: analyzer_network
    driver: bridge